* {
  color: #444;
}
.main_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  position: relative;
}
.pet_info_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 240px;
  /* border: 1px solid #ccc; */
  /* margin-bottom: 20px; */
  position: relative;
  overflow: hidden;
}

.pet_photo {
  display: flex;
  object-fit: cover;
  z-index: -1;
  transform: scale(1.4);
  padding-left: 50px;
}

.circle_wrap {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50px;
  background-color: #eee;
  z-index: 999;
  margin-left: 8px;
  overflow: hidden;
  cursor: pointer;
  padding: 7px;
}

.circle img {
  object-fit: contain;
}
.pet_name {
  display: block;
  z-index: 999;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.pet_number {
  z-index: 999;
  position: absolute;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  top: 66px;
  left: 20px;
  color: #fff;
  font-size: 11px;
}

.pet_info {
  z-index: 999;
  position: absolute;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  top: 86px;
  left: 20px;
  color: #eee;
  font-size: 11px;
}

.shortcut_to_mypet {
  z-index: 999;
  position: absolute;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  top: 120px;
  left: 20px;
  color: #fff;
  font-size: 12px;
  text-decoration: underline;
}
.setting_location {
  display: flex;
  position: absolute;
  right: 20px;
  bottom: 30px;
  color: #fff;
  font-size: 11px;
  border-radius: 4px;
  padding: 4px 6px;
  cursor: pointer;
  background: #07847fff;
  color: #fff;
  color: #555;
  background: #fff;
  /* border: 1px solid #07847fff; */
}

.location_dot {
  margin-right: 3px;
}
.search_bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  padding: 0 20px;
  position: absolute;
  top: 220px;
}

.search_bar input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-indent: 40px;
  border-radius: 6px;
  border: 1px solid #ccc;
  /* border: 2px solid #07847fff; */
}
.main_contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  margin-top: 12px;
}

.main_content_title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.main_content_title span {
  display: inline-block;
  font-size: 12px;
  font-weight: 200;
  cursor: pointer;
}
.tags {
  display: flex;
  margin-bottom: 10px;
}

.tags div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-size: 11px;
  background: #07847fff;
  color: #fff;
  border-radius: 20px;
  padding: 0 10px;
  margin-right: 6px;
}

.contents_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.one_item {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px dotted #ccc;
}

.hospital_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  overflow: hidden;
  background-color: #ccc;
  border-radius: 10px;
  margin-right: 14px;
}

.hospital_img img {
  display: flex;
  object-fit: cover;
}

.hospital_name {
  margin-bottom: 4px;
}

.column_wrap {
  display: flex;
  flex-direction: column;
  width: calc(100% - 94px);
}
.flex_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.telephone {
  display: flex;
  height: 20px;
  color: #444;
  font-size: 12px;
  cursor: pointer;
}
.telephone img {
  object-fit: cover;
  height: 14px;
  margin-right: 4px;
}

.reservation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 26px;
  background: #eee;
  border-radius: 10px;
  font-size: 11px;
  cursor: pointer;
  margin-top: 4px;
}

.hospital_address {
  font-size: 10px;
  margin-bottom: 6px;
}

.see_more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  border-radius: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 4px;
  margin-top: 20px;
  font-size: 13px;
}

.see_more:hover {
  background: #07847fff;
  color: #fff;
}

.review_wrap {
  margin: 20px 0;
}
.review_text {
  font-size: 12px;
  margin-bottom: 12px;
  color: #777;
}

.review_region {
  font-size: 12px;
  color: #07847fff;
  margin-right: 2px;
}

.review_hospital {
  width: 100%;
  height: 100%;
  background: #07847fff;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 4px;
  margin-bottom: 10px;
  padding: 4px 10px;
}

.notice_wrap {
  margin-bottom: 20px;
}

.notice_text {
  width: 100%;
  height: 100%;
  background: #eee;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.notice_text ul {
  font-size: 14px;
}
.pettalk {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-x: auto;
}
.pettalk div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  flex-shrink: 0;
}
.pettalk div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.petbot_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 15%;
  left: 60%; /* 수평 중앙 */
  transform: translate(calc(-50% + 90px));
  width: 55px;
  height: 55px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  font-size: 12px;
  /* background: #07847fff; */
  background-color: #eee;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.petbot_wrap img {
  object-fit: cover;
  width: 40px;
}
