/* background-color: #3057a6ff; */
/* background-color: #07847fff; */

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 900;
  font-size: 28px;
  color: #07847fff;
  color: #fff;
  font-family: "yg-jalnan";
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 66px;
  padding: 20px;
  background-color: #07847fff;
}

.header_icon img {
  width: 24px;
  height: 24px;
}

@font-face {
  font-family: "yg-jalnan";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
